/*!
 * Iguana custom styles
 * 
 */

 body{
 	color: #2e3746;
 }

#iguana-container{
	margin: 0 auto;
	max-width: 600px;	
	background-color: #f4f7fb;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-height: 510px){
	#iguana-container{
		margin-top: 20px;
	}
}

.header{
	background-color: #fe700d;
	color: white;
	padding: 15px 10px;
	text-align: center;
}

.header>.title{
	margin-bottom: 20px;
}

.header>.pagination{
	margin-bottom: 0px;
}

.header>.pagination>li>a{
	border: 1px white solid;
	border-radius: 8px;
	background-color: #fe700d;
	color: white;
}

.header>.pagination>li>a.active{
	background-color: white;
	color: #fe700d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header>.pagination>li>a.separator{
	height: 1px;
    line-height: 1px;
    border: none;
    width: 30px;
    background-color: white;
    padding: 0px;
    vertical-align: middle;
    margin-top:	16px;
}

#iguana-container>.content{
	padding: 20px;
	text-align: center;
	min-height: 270px;
}

.footer{
	max-width: 300px;
	margin: 10px auto;
}

.btn:hover{
	color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn-orange{
	color: white;
	border: none;
	background-color: #fe700d;
}


